block vars
    - var bodyClasses = ''
html(lang=APP_LANG)
    head
        title #{SITE_NAME}
        meta(charset=APP_CHARSET)
        meta(name="description" content=APP_META_DESCRIPTION)
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        if !DEVELOPMENT
            base(href=BASE_URL)
        block customMeta
        block headScripts
    body(class=bodyClasses)
        block bodyScripts
        block content
    footer
        block footerScripts
        script(type="text/javascript" src=getAsset("/scripts/app.js"))
        link(rel="stylesheet" href=getAsset("/styles/app.css"))
        block footer